defaults: &defaults
  adapter: postgresql
  encoding: utf8
  pool: 5

development:
  <<: *defaults
  database: omise_rails

test:
  <<: *defaults
  database: omise_rails_test

production:
  <<: *defaults
  database: iin_development