defaults: &defaults
  adapter: postgresql
  encoding: utf8
  pool: 5

development:
  <<: *defaults
  database: omise_spree

test:
  <<: *defaults
  database: omise_spree_test

production:
  <<: *defaults
  database: omise_spree
